.bg-image {
    /* Replace the URL with your background image */
    background-image: url("https://c0.wallpaperflare.com/preview/462/963/578/blur-charity-collaboration-community.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    max-width: 400px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .container input[type="text"],
  .container input[type="email"],
  .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .container input[type="submit"]:hover {
    background-color: #45a049;
  }